/* Add a comment here */

body {
  color: blue;
  background-color: #add1ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  color: green;
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
.sliding-background {
  background: url("./images/sliding-background.png") repeat-x;
  height: 500px;
  width: 5076px;
  animation: slide 60s linear reverse infinite;
  position: absolute;
  background-position: 0px 0px;
}
.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
