/* Add a comment here */
* {
  padding: 0;
  margin: 0;
}

body {
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #79add4 0%,
    #79add4 20%,
    #9df051 20%,
    #9df051 100%
  );
  /* background-position: 0 100px, 0 100px;
  background-size: 100% 100px, 100% 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 10px solid #000; */
}

.header-container {
  text-align: center;
  color: green;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 3;
  flex-direction: column;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
.sliding-background {
  background: url("./images/sliding-background.png") repeat-x;
  height: 500px;
  width: 5076px;
  animation: slide 60s linear reverse infinite;
  position: relative;
  background-position: 0px 0px;
  background-color: #9df051;
}
.animation-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.human {
  width: 19em;
  position: absolute;
  height: 31em;
  display: flex;
  justify-content: center;
  top: 380px;
  left: 500px;
  margin-bottom: auto;
  z-index: 6;
}

.hat {
  background: red;
  width: 28px;
  height: 10px;
  z-index: 3;
  border-radius: 150px 150px 0 0;
  position: absolute;
}

.hat-bill {
  background: red;
  width: 25px;
  height: 2px;
  z-index: 3;
  border-radius: 150px 150px 0 0;
  position: absolute;
  right: 155px;
  top: 7px;
}

.head {
  background: #ffe9d1;
  width: 30px;
  height: 30px;
  z-index: 2;
  border-radius: 50%;
  position: absolute;
}

.neck {
  background: #ffe9d1;
  width: 10px;
  height: 30px;
  z-index: 2;
  position: absolute;
  top: 3%;
}

.torso {
  background: red;
  width: 22px;
  height: 45px;
  z-index: 3;
  position: absolute;
  top: 7%;
  border-radius: 20%;
}

.left-leg {
  top: 13%;
  left: 49%;
  rotate: -20deg;
  background: blue;
  width: 10px;
  height: 45px;
  z-index: 2;
  position: absolute;
  border-radius: 20%;
  animation: swing-forward 2s infinite linear alternate;
  transform-origin: top;
}

@keyframes swing-forward {
  from {
    transform: rotate(25deg);
  }
}

.right-leg {
  top: 13%;
  right: 49%;
  rotate: 20deg;
  background: blue;
  width: 10px;
  height: 45px;
  z-index: 2;
  position: absolute;
  border-radius: 20%;
  animation: swing-back 2s infinite linear alternate;
  transform-origin: top;
}

@keyframes swing-back {
  from {
    transform: rotate(-25deg);
  }
}

.left-arm {
  background: #ffe9d1;
  width: 8px;
  height: 40px;
  z-index: 4;
  position: absolute;
  border-radius: 20%;
  top: 8%;
  right: 51%;
  rotate: 20deg;
  animation: swing-back 2s infinite ease-in-out alternate;
  transform-origin: top;
}
@keyframes swing-back {
  from {
    transform: rotate(-25deg);
  }
}
.right-arm {
  background: #ffe9d1;
  width: 8px;
  height: 40px;
  z-index: 2;
  position: absolute;
  border-radius: 20%;
  top: 8%;
  right: 47%;
  rotate: -20deg;
  animation: swing-forward 2s infinite ease-in-out alternate;
  transform-origin: top;
}

@keyframes swing-forward {
  from {
    transform: rotate(25deg);
  }
}
.backpack {
  background: #ffd700;
  width: 20px;
  height: 40px;
  z-index: 5;
  position: absolute;
  border-radius: 20%;
  top: 7%;
  right: 42%;
}
.sleeping-bag {
  background: green;
  width: 20px;
  height: 20px;
  z-index: 5;
  position: absolute;
  border-radius: 100%;
  top: 5%;
  right: 42%;
}

.gridbox-container {
  background-color: #9df051;
  width: 100%;
  height: 90vw;
  float: left;
  overflow: hidden;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "box1 box1 box1 box2 box2 box2 box4 box4"
    "box1 box1 box1 box3 box3 box3 box4 box4"
    "box1 box1 box1 box3 box3 box3 box4 box4";
}

.gridbox-container .grid-box {
  transition: all 250ms;
  font-size: 5rem;
  color: white;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  animation: fadein 1s ease-out normal backwards;
}

.gridbox-container .grid-box:hover {
  z-index: 2;
  position: relative;
  box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.15),
    0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0, -0.5rem) scale(1.01);
}

.element1 {
  grid-area: box1;
}
.element2 {
  grid-area: box2;
}
.element3 {
  grid-area: box3;
}
.element4 {
  grid-area: box4;
}
.element5 {
  grid-area: box5;
}
.element6 {
  grid-area: box6;
}
@keyframes fadein {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.image {
  width: 100%;
  height: 100%;
}
